{% extends 'main/base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class = "regist" >
        <form method="post" class="form-control">
            {{ form.csrf_token }}
            <p>
            {{ form.login(class="form-control", placeholder="Login") }}
            </p>
            <p>
            {{ form.password(class="form-control", placeholder="Password") }}
            </p>
            <p>
            {{ form.submit(class="btn btn-success") }}
            </p>
        </form>
    </div>
{% endblock %}